a {
  text-decoration: none;
}

body {
  padding-top: 40px;
}

a:hover {
  text-decoration: underline;
}

.navbar {
  padding: 1% 2%;
}

.title-details {
  padding: 5% 0 3%;
}

.title-font {
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: bold;
}

.buy-btn {
  margin: 3% 1%;
}

.macbook-m1 {
  background-color: black;
}

.one-services {
  width: auto;
  height: 200px;
}

.pricing {
  padding: 4% 10%;
}

footer {
  padding: 5% 10%;
}


@media only screen and (min-width: 768px) {
  .iphone12-img {
    clip-path: polygon(0px,672px,500px,0px);
  }
  .title-details {
    padding: 3% 0 0;
  }
  .buy-btn {
    margin: 2% 1%;
  }

  .title-font {
    font-size: 3.5rem;
  }
}
